<div class="center jumbotron">
  <h1>Welcome to the MicroBlog!</h1>

  <h2>
    Sign up and post nothing more than 140 characters!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
